JWT_SECRET = ""

# DB CONFIGURATION
DB_NAME = ''
DB_HOST = ''
DB_PORT = 

# PORT
PORT = 

# Treasury wallet account address
TREASURY_WALLET_ADDRESS = ""

# Teasury token account address
TREASURY_TOKEN_ACCOUNT_ADDRESS =""

# Token mint address
TOKEN_MINT_ADDRESS = ""

# Treasury private key
TREASURY_PRIVATE_KEY = ''

RPC_ENDPOINT = ''
